@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo font from weloveiconfonts.com */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-size: 40px;
}

.menu {
  margin-left: 10px;
  float: left;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

.map {
  height: 100%;
  width: 100%;
  position: relative;
}

.list-view {
  height: 100%;
  width: 250px;
  position: absolute;
  background-color: white;
  z-index: 3;
}

.list-view ul {
  list-style: none;
}

.list-view button {
  font-size: 20px;
  text-align: left;
  color: black;
  padding: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.filter-input {
  font-size: 20px;
  margin: 8px;
}

.tips {
  text-align: center;
  max-width: 200px;
}