@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-size: 40px;
}

.map {
  height: 100vh;
  width: 100%;
  bottom: 0px;
  left: 300px;
  right: 0px;
  position: absolute;
}

/*.container {
  height: 100%;
  position: relative;
}

#map {
  height: 100vh;
  width: 100%;
  bottom: 0px;
  left: 300px;
  right: 0px;
  position: absolute;
}*/

.list-view {
  height: 100vh;
  width: 300px;
  background-color: white;
}

.list-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: black;
  background-color: #9effab;
  border: 2px solid black;
  padding: 10px;
}

.list-view ul {
  list-style: none;
}

.list-view button {
  font-size: 20px;
  text-align: left;
  color: black;
  padding: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.filter-input {
  font-size: 20px;
  margin: 8px;
}